<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Teams</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Add a Team
                </div>
                <div class="panel-body">
                    <!-- add-a-team directive -->
                    <div data-add-a-team="" update="false"></div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Teams
                </div>
                <div class="panel-body">
                    <!-- Team info directive -->
                    <div data-team-info=""></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.container-fluid -->
